<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet"/>
    @if (!ThemeManager.IsThemeDisabled(Context))
    {
        <link href="@Url.ThemeStylesheetContent()" rel="stylesheet"/>
    }
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>My Green MVC Application</h1>
            </div>
            <div id="themeSwitcher">
                @Html.Action("Index", "ThemeSwitcher")
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            <p style="font-style: italic;">Layout with left sidebar</p>
            <table id="main">
                <tbody>
                    <tr>
                        <td class="sidebar"><h4>Sidebar</h4></td>
                        <td>@RenderBody()</td>
                    </tr>
                </tbody>
            </table>
            
            <div id="footer"></div>
        </div>
    </div>
</body>
</html>